In [9]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(r'C:\Users\diyag\Desktop\projects\python_practice\Data Science\project\seattle-weather.csv',header=None)

In [16]:
df.describe()

           0     1     2     3     4     5
count   1462  1462  1462  1462  1462  1462
unique  1462   112    68    56    80     6
top     date   0.0  11.1   6.1   2.6  rain
freq       1   838    58    66    76   641

In [34]:
missing_values = df.isnull().sum()
print(missing_values)

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [35]:
min_val = df.min(numeric_only=True)
print("Minimum values for numeric columns:\n", min_val)

SyntaxError: invalid non-printable character U+00A0 (640793421.py, line 2)

In [19]:
def randomly_replace_values(df, replace_fraction=0.2):
    """
    Randomly replace a fraction of values in each column with NaN.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        replace_fraction (float): Fraction of values to replace with NaN in each column.

    Returns:
        pd.DataFrame: DataFrame with random values replaced by NaN.
    """
    # Iterate over each column
    for col in df.columns:
        # Determine how many values to replace with NaN
        num_to_replace = int(replace_fraction * len(df))
        
        # Randomly select indices to replace in the current column
        indices = np.random.choice(df.index, num_to_replace, replace=False)
        
        # Set the selected indices to NaN
        df.loc[indices, col] = np.nan
    
    return df

# Apply the function
df_with_random_nans = randomly_replace_values(df, replace_fraction=0.3)
print(df_with_random_nans)

               0              1         2         3    4        5
0            NaN  precipitation  temp_max  temp_min  NaN  weather
1     2012-01-01            NaN      12.8       5.0  4.7  drizzle
2     2012-01-02            NaN      10.6       2.8  4.5     rain
3     2012-01-03            NaN      11.7       7.2  NaN      NaN
4     2012-01-04           20.3      12.2       NaN  4.7     rain
...          ...            ...       ...       ...  ...      ...
1457  2015-12-27            8.6       NaN       1.7  NaN     rain
1458         NaN            1.5       NaN       1.7  1.3     rain
1459  2015-12-29            0.0       NaN       0.6  NaN      fog
1460  2015-12-30            0.0       NaN      -1.0  3.4      sun
1461  2015-12-31            0.0       5.6       NaN  3.5      NaN

[1462 rows x 6 columns]

In [20]:
contains_nan = df.isnull().values.any()
print(contains_nan)

True

In [27]:
# df = df.fillna('')
# print(df)

In [39]:

# Get the minimum value of each column
min_values = df.min()

# Print the minimum values
print("Minimum values for each column:")
print(min_values)

# Replace NaN values in each column with the minimum value of that column
df_filled = df.fillna(min_values)

# Save the new dataset to a CSV file
# Replace 'new_data.csv' with your desired output file name
df_filled.to_csv('new_data_min.csv', index=False)

print("A new dataset with NaN values filled has been created as 'new_data_min.csv'.")



df2 = pd.read_csv(r'C:\Users\diyag\Desktop\projects\python_practice\Data Science\project\new_data_min.csv')
df2.describe()

Minimum values for each column:
0
1
2
3
4
5
dtype: object
A new dataset with NaN values filled has been created as 'new_data_min.csv'.

                 4
count  1024.000000
mean      3.227441
std       1.451186
min       0.500000
25%       2.200000
50%       2.900000
75%       4.000000
max       9.500000

In [41]:


# Get the minimum value of each column
max_values = df.max()

# Print the minimum values
print("Maxmium values for each column:")
print(max_values)

# Replace NaN values in each column with the minimum value of that column
df_filled = df.fillna(max_values)

# Save the new dataset to a CSV file
# Replace 'new_data.csv' with your desired output file name
df_filled.to_csv('new_data_max.csv', index=False)

print("A new dataset with NaN values filled has been created as 'new_data_max.csv'.")



df2 = pd.read_csv(r'C:\Users\diyag\Desktop\projects\python_practice\Data Science\project\new_data_max.csv')
df2.describe()

Maxmium values for each column:
0       2015-12-31
1    precipitation
2         temp_max
3         temp_min
4              9.5
5          weather
dtype: object
A new dataset with NaN values filled has been created as 'new_data_max.csv'.

                 4
count  1024.000000
mean      3.227441
std       1.451186
min       0.500000
25%       2.200000
50%       2.900000
75%       4.000000
max       9.500000