In [1]:
print("helo")

helo

In [2]:
v=5
print(v)

5

In [3]:
a=23
b=12
print(a+b)

35

In [22]:
a=12
b=4
c=a/b
d=a//b
print(c)
print(d)
r=a**b
print(r)
print(a&b)
print(a|b)
print(a^b)
print(a>>b)
print(a<<b)
print(~a)
a/=10
print(a)
# a=(input("enter a string: "))
# b=(input("enter a string: "))

# print(a, "+", b)
s="ram"+ "12"
print(s)

3.0
3
20736
4
12
8
0
192
-13
1.2
ram12

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [29]:
for i in range(1,30,4):
    print(i)

1
5
9
13
17
21
25
29

In [32]:
for i in range(0,-20,-4):
    print(i)

0
-4
-8
-12
-16

In [34]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

In [35]:

n= int(input("enter the value of n: "))
for i in range(1,11):
    print(n*i)

4
8
12
16
20
24
28
32
36
40

In [37]:
n=int(input("enter the value of n: "))
print(sum(range(1,n)))

4950