In [1]:
print("helo")

helo

In [2]:
v=5
print(v)

5

In [3]:
a=23
b=12
print(a+b)

35

In [22]:
a=12
b=4
c=a/b
d=a//b
print(c)
print(d)
r=a**b
print(r)
print(a&b)
print(a|b)
print(a^b)
print(a>>b)
print(a<<b)
print(~a)
a/=10
print(a)
# a=(input("enter a string: "))
# b=(input("enter a string: "))

# print(a, "+", b)
s="ram"+ "12"
print(s)

3.0
3
20736
4
12
8
0
192
-13
1.2
ram12

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [29]:
for i in range(1,30,4):
    print(i)

1
5
9
13
17
21
25
29

In [32]:
for i in range(0,-20,-4):
    print(i)

0
-4
-8
-12
-16

In [34]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

In [35]:

n= int(input("enter the value of n: "))
for i in range(1,11):
    print(n*i)

4
8
12
16
20
24
28
32
36
40

In [37]:
n=int(input("enter the value of n: "))
print(sum(range(1,n)))

4950

prime number

In [38]:
n=int(input("enter a number:"))
f=0
for i in range(2, int(1+n/2)):
    if n%i==0:
        f=1
        break

if f==0:
    print("prime")

else:
    print("not prime")

not prime

fibonacci

In [39]:
n=10
a=0
b=1
print(a)
print(b)
for i in range(n):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

factorial

In [42]:
n=4
a=1
for i in range(1,n+1):
    a=a*i
    print(a)

1
2
6
24

add 2 numbers in a function

In [44]:
def add(a,b):
    c=a+b
    return c

print(add(1,2))
print(add(1,8))

3
9

In [45]:
#------------------------------------------------------------------------
# 5.4: Default Parameter
#------------------------------------------------------------------------
def Add(a, b, d = 90):
    c = a + b + d
    return c

print ("Add(10,20)   -->", Add(10,20))
print ("Add(20,50,10)-->", Add(20,50,10))

Add(10,20)   --> 120
Add(20,50,10)--> 80

In [48]:
#------------------------------------------------------------------------
# 7.2: Difference between single quote and double quote
#------------------------------------------------------------------------
var1 = 'Hello "Python"'
var2 = "Hello 'Python'"
var3= 'Hello'
var4= "hi"
print ("var1 -->", var1)
print ("var2 -->",var2)
print ("var3 -->",var3)
print ("var4 -->",var4)

var1 --> Hello "Python"
var2 --> Hello 'Python'
var3 --> Hello
var4 --> hi

if we want to use ' in the print statement then use backslash ' for no error

In [60]:
a="123456787654321"
print(a[2])
print(a[0:-4])
print(a[0:4:1])
print(a[::1])

3
12345678765
1234
123456787654321

string length upper lower

In [69]:
a="I am a full stack web developer"
print(a.lower())
print(a.upper())
print(len(a))
print(a.split())
print(a.count('l'))
# reverse a string
print(a[::-1])

i am a full stack web developer
I AM A FULL STACK WEB DEVELOPER
31
['I', 'am', 'a', 'full', 'stack', 'web', 'developer']
3
repoleved bew kcats lluf a ma I

In [65]:
a=9
b=3
a is b

False

In [71]:
##palindrome
s1 = "Indian Army"
s2 = "malayalam"
s3 = "madam"
s4 = "teacher"
print ("s1 -->", s1 == s1[::-1])
print ("s2 -->", s2 == s2[::-1])
print ("s3 -->", s3 == s3[::-1])
print ("s4 -->", s4 == s4[::-1])

s1 --> False
s2 --> True
s3 --> True
s4 --> False

Lists

In [73]:
l= [1,"dia", 042.2]
print(len(l))
print(type(l))

3
<class 'list'>

In [74]:
l= [1,"dia", 042.2]
i=0
while i< len(l):
    print(l[i])
    i=i+1

1
dia
42.2

In [100]:
L = [3, 6, 9, 12, 5, 3, 2]
L1 = ["Rahul", "Thapar", 100, 200]
print(L[::2])
L.append(0)
print(L)
L.insert(3,32)
print(L)
L.extend("dia")
L.extend(["dia"])
L.extend(L1)
print(L)
del L[3]
L.remove(5)
L.pop(4)
del(L1)
print(L)
L = [3, 6, 9, 12, 5, 3, 2]

print(sum(L)/len(L))
print(min(L))
L.sort()
print(L)
sorted(L)
print(L)
print(L+L)

[3, 9, 5, 2]
[3, 6, 9, 12, 5, 3, 2, 0]
[3, 6, 9, 32, 12, 5, 3, 2, 0]
[3, 6, 9, 32, 12, 5, 3, 2, 0, 'd', 'i', 'a', 'dia', 'Rahul', 'Thapar', 100, 200]
[3, 6, 9, 12, 2, 0, 'd', 'i', 'a', 'dia', 'Rahul', 'Thapar', 100, 200]
5.714285714285714
2
[2, 3, 3, 5, 6, 9, 12]
[2, 3, 3, 5, 6, 9, 12]
[2, 3, 3, 5, 6, 9, 12, 2, 3, 3, 5, 6, 9, 12]

In [101]:
import random as r
n=110
L=[]
for i in range(n):
    L.append(r.randint(1,100))
print(L)

[39, 80, 47, 64, 23, 69, 84, 52, 32, 35, 69, 44, 52, 84, 14, 4, 34, 6, 96, 82, 98, 2, 3, 15, 8, 55, 22, 22, 67, 68, 64, 37, 10, 26, 28, 37, 17, 79, 13, 36, 22, 2, 46, 41, 52, 73, 44, 47, 57, 27, 57, 93, 71, 82, 44, 75, 45, 95, 64, 23, 18, 25, 98, 22, 20, 86, 60, 57, 1, 52, 45, 31, 93, 92, 34, 90, 5, 42, 91, 79, 19, 95, 10, 49, 75, 97, 100, 74, 66, 54, 22, 43, 6, 87, 26, 16, 39, 20, 3, 37, 45, 9, 99, 91, 49, 40, 57, 85, 28, 51]

In [102]:
n=12
L=[]
L=[ r.randint(1,100) for i in range(n)]
print(L)

[5, 18, 5, 70, 39, 59, 6, 49, 92, 75, 20, 67]

In [103]:
import string as s
n=12
m=2
L=[]

for i in range(n):
    L.append("".join(r.sample(s.ascii_letters,m)))
print(L)

['SR', 'GC', 'kt', 'dA', 'PD', 'Nx', 'cL', 'mR', 'nh', 'JV', 'Oz', 'yj']

In [110]:
L=["".join(r.sample(s.ascii_letters,12)) for i in range(23)]
n = [ "".join(r.sample(s.ascii_letters, r.randint(5,10))) for i in range(12)]
import copy
print(L)
print(n)
print(12 in L)
L1 = copy.copy(L)                       # Pointing to the same memory location as L
print(L1)

['kRVjmPHOpguf', 'oEnljFUtQImW', 'hxGVveDrSnEs', 'UAilveXVfEkn', 'ODFMqAvNCJSa', 'zDsQgGWejFcq', 'HnpuDMwqAVmN', 'vHEnJkezpxFB', 'jWtFVJuCLexa', 'zeKRYgBIbMZx', 'iklvFGmZPMdI', 'JARmxWXbjZvd', 'qEDKXxAHNYzr', 'sgMCuSnQKWhO', 'NlzpesDGjXcu', 'YEFmJwhtVcGR', 'ohQpNcPtVrzq', 'RtDqfdbIHMCS', 'JoSEIrkUHRcx', 'pHhiPURXbEgJ', 'IkhDHvdGUuNn', 'mGISFPBOtiXs', 'TLXokDPwOnga']
['jkdBLQmWw', 'VeBibYmA', 'oQfzFK', 'DbyQtiHBcO', 'shqjB', 'BnRUdrVvAp', 'pxhcYze', 'eozJg', 'MqCvDaduPy', 'QSnzZWA', 'QvNnOXr', 'hoFEfZKTp']
False
['kRVjmPHOpguf', 'oEnljFUtQImW', 'hxGVveDrSnEs', 'UAilveXVfEkn', 'ODFMqAvNCJSa', 'zDsQgGWejFcq', 'HnpuDMwqAVmN', 'vHEnJkezpxFB', 'jWtFVJuCLexa', 'zeKRYgBIbMZx', 'iklvFGmZPMdI', 'JARmxWXbjZvd', 'qEDKXxAHNYzr', 'sgMCuSnQKWhO', 'NlzpesDGjXcu', 'YEFmJwhtVcGR', 'ohQpNcPtVrzq', 'RtDqfdbIHMCS', 'JoSEIrkUHRcx', 'pHhiPURXbEgJ', 'IkhDHvdGUuNn', 'mGISFPBOtiXs', 'TLXokDPwOnga']