In [1]:
print("helo")

helo

In [2]:
v=5
print(v)

5

In [3]:
a=23
b=12
print(a+b)

35

In [22]:
a=12
b=4
c=a/b
d=a//b
print(c)
print(d)
r=a**b
print(r)
print(a&b)
print(a|b)
print(a^b)
print(a>>b)
print(a<<b)
print(~a)
a/=10
print(a)
# a=(input("enter a string: "))
# b=(input("enter a string: "))

# print(a, "+", b)
s="ram"+ "12"
print(s)

3.0
3
20736
4
12
8
0
192
-13
1.2
ram12

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [29]:
for i in range(1,30,4):
    print(i)

1
5
9
13
17
21
25
29

In [32]:
for i in range(0,-20,-4):
    print(i)

0
-4
-8
-12
-16

In [34]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

In [35]:

n= int(input("enter the value of n: "))
for i in range(1,11):
    print(n*i)

4
8
12
16
20
24
28
32
36
40

In [37]:
n=int(input("enter the value of n: "))
print(sum(range(1,n)))

4950

prime number

In [38]:
n=int(input("enter a number:"))
f=0
for i in range(2, int(1+n/2)):
    if n%i==0:
        f=1
        break

if f==0:
    print("prime")

else:
    print("not prime")

not prime

fibonacci

In [39]:
n=10
a=0
b=1
print(a)
print(b)
for i in range(n):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

factorial

In [42]:
n=4
a=1
for i in range(1,n+1):
    a=a*i
    print(a)

1
2
6
24

add 2 numbers in a function

In [44]:
def add(a,b):
    c=a+b
    return c

print(add(1,2))
print(add(1,8))

3
9

In [45]:
#------------------------------------------------------------------------
# 5.4: Default Parameter
#------------------------------------------------------------------------
def Add(a, b, d = 90):
    c = a + b + d
    return c

print ("Add(10,20)   -->", Add(10,20))
print ("Add(20,50,10)-->", Add(20,50,10))

Add(10,20)   --> 120
Add(20,50,10)--> 80

In [48]:
#------------------------------------------------------------------------
# 7.2: Difference between single quote and double quote
#------------------------------------------------------------------------
var1 = 'Hello "Python"'
var2 = "Hello 'Python'"
var3= 'Hello'
var4= "hi"
print ("var1 -->", var1)
print ("var2 -->",var2)
print ("var3 -->",var3)
print ("var4 -->",var4)

var1 --> Hello "Python"
var2 --> Hello 'Python'
var3 --> Hello
var4 --> hi

if we want to use ' in the print statement then use backslash ' for no error

In [60]:
a="123456787654321"
print(a[2])
print(a[0:-4])
print(a[0:4:1])
print(a[::1])

3
12345678765
1234
123456787654321

string length upper lower

In [69]:
a="I am a full stack web developer"
print(a.lower())
print(a.upper())
print(len(a))
print(a.split())
print(a.count('l'))
# reverse a string
print(a[::-1])

i am a full stack web developer
I AM A FULL STACK WEB DEVELOPER
31
['I', 'am', 'a', 'full', 'stack', 'web', 'developer']
3
repoleved bew kcats lluf a ma I

In [65]:
a=9
b=3
a is b

False

In [71]:
##palindrome
s1 = "Indian Army"
s2 = "malayalam"
s3 = "madam"
s4 = "teacher"
print ("s1 -->", s1 == s1[::-1])
print ("s2 -->", s2 == s2[::-1])
print ("s3 -->", s3 == s3[::-1])
print ("s4 -->", s4 == s4[::-1])

s1 --> False
s2 --> True
s3 --> True
s4 --> False