In [15]:
import pandas as pd
import random as rn
import string as s

In [3]:
s1= pd.Series([1,23,3])
s1
##here we can make our own indexing in series

0     1
1    23
2     3
dtype: int64

In [6]:
b1=['a','b','c']
a1=[1,2,3]
c1=pd.Series(b1,a1)
c1

1    a
2    b
3    c
dtype: object

Take dictionary as argument for q1           
take LOL as argument            
take DOL as argument       
take DOD as argument

In [7]:
d={1:'a',2:'b',3:'c'}
s2=pd.Series(d)
s2

1    a
2    b
3    c
dtype: object

In [8]:
l=[[1,2],[3,4],[5,6]]
s3=pd.Series(l)
s3

0    [1, 2]
1    [3, 4]
2    [5, 6]
dtype: object

In [9]:
dol= {1:['a','b'], 2:['c','d']}
s4=pd.Series(dol)
s4

1    [a, b]
2    [c, d]
dtype: object

In [10]:
dod={1:{2:'a'},3:{4:'d'}}
s5=pd.Series(dod)
s5

1    {2: 'a'}
3    {4: 'd'}
dtype: object

Data Frames

In [3]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
df=pd.DataFrame([1,2,3,4,5],index=['a','b','c','d','e'])
df

   0
a  1
b  2
c  3
d  4
e  5

In [26]:
dol={'A':[rn.randint(5, 10) for _ in range(5)], 'B':[rn.randint(11,16) for _ in range(5)],'C': [rn.choice(s.ascii_letters) for _ in range(5)],'D': [1 for _ in range(5)], 'E':[" ".join(rn.sample(s.ascii_letters,5)) for _ in range(5) ] }
d=pd.DataFrame(dol)
d

    A   B  C  D          E
0  10  11  F  1  v X W E m
1   9  11  K  1  u a V H X
2   8  16  k  1  y q Z r s
3  10  15  l  1  Z w C K b
4   8  11  F  1  j a u R W

In [30]:
d.describe()

          A         B    D
count   5.0   5.00000  5.0
mean    9.0  12.80000  1.0
std     1.0   2.48998  0.0
min     8.0  11.00000  1.0
25%     8.0  11.00000  1.0
50%     9.0  11.00000  1.0
75%    10.0  15.00000  1.0
max    10.0  16.00000  1.0