In [1]:
import pandas as pd
import numpy as np
from io  import StringIO, BytesIO

In [5]:
data=('col1,col2,col3\n'
      'x,y,1\n'
      'a,b,2\n'
      'c,d,3')

In [6]:
type(data)

str

In [7]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [8]:
df= pd.read_csv(StringIO(data),usecols=['col1','col2'])

In [9]:
df

  col1 col2
0    x    y
1    a    b
2    c    d

In [10]:
df=pd.read_csv(StringIO(data),dtype=object)

In [11]:
df

  col1 col2 col3
0    x    y    1
1    a    b    2
2    c    d    3

In [13]:
df['col1']

0    x
1    a
2    c
Name: col1, dtype: object

In [19]:
df.dtypes

col1    object
col2    object
col3    object
dtype: object

In [20]:
data= 'a,b\n"hello,\\"bob\\",nice to see you",5'

In [21]:
pd.read_csv(StringIO(data),escapechar='\\')

                             a  b
0  hello,"bob",nice to see you  5